<div class="card">
  <img src="ruta-de-la-imagen" class="card-img-top" alt="Imagen del animal">
  <div class="card-body">
    <h5 class="card-title">Nombre del animal</h5>
    <p class="card-text">Descripci칩n breve del animal</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Edad:</strong> Edad del animal</li>
      <li class="list-group-item"><strong>Raza:</strong> Raza del animal</li>
      <li class="list-group-item"><strong>Tama침o:</strong> Tama침o del animal</li>
      <li class="list-group-item"><strong>Sexo:</strong> Sexo del animal</li>
    </ul>
    <a href="#" class="btn btn-primary">Ver m치s detalles</a>
  </div>
</div>